<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./applogs/app" />
      <datePattern value=".yyyy-MM-dd'.log'" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="TestAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="servicename" value="Memu" />
    <add key="pathdevice" value="C:\Program Files (x86)\Microvirt\MEmu\MEmu.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <AutoTool.Properties.Settings>
      <setting name="ThreadNos" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="TurnOn2fa" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MEmuDeviceNos" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MEmuCommanderRootPath" serializeAs="String">
        <value>D:\Program Files\Microvirt\MEmu</value>
      </setting>
      <setting name="HideChrome" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeChrome" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RegType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LDPlayerCommanderRootPath" serializeAs="String">
        <value>E:\ChangZhi\LDPlayer</value>
      </setting>
      <setting name="LDPlayerDeviceNos" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="OutputDirectory" serializeAs="String">
        <value>D:\rcfb</value>
      </setting>
      <setting name="LdRmAllDevicesWhenRestore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MmRmAllDevicesWhenRestore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMailServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoNetworkType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DcomNetworkName" serializeAs="String">
        <value>Viettel</value>
      </setting>
    </AutoTool.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>